.project-block {
  background: #fafafa;
  box-shadow: 0px 2px 5px 3px rgba(223, 211, 211, 0.25);
  border-radius: 40px;
  margin: 40px 25%;
  width: 50%;
  padding: 30px 0;
  transition: all 1000ms ease;

  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #229fba;
    transition: all 1s ease;
  }

  .mainPhoto {
    max-width: 80%;
    border-radius: 30px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 10%;

    .attend {
      width: 40%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: #2ea9ef;
      border-radius: 15px;
      transition: background-color 1s ease;

      a {
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;
        .attendBtn {
          margin: 0 auto;
        }

        &:hover {
          cursor: pointer;
        }

        img {
          max-width: 30px;
          max-height: 12px;
          background: inherit;
        }

        span {
          background: inherit;
          color: #fff;
          font-size: 16px;
        }
      }
    }

    .about {
      width: 40%;
      padding: 15px;
      border-radius: 15px;
      background: #2eef7b;
      text-align: center;
      color: #fff;
      font-size: 16px;
      transition: background-color 1s ease;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
